<ul>
  <% tasks.each(function (task) { %>
    <li class="task">
      <a href="#/tasks/<%= task.escape("id") %>">
        <%= task.escape("title")%>
      </a>
			<button class="delete" data-id="<%= task.escape("id") %>">Delete</button>
    </li>
  <% }); %>
</ul>

<a href="#/tasks/new">New Task!</a>